
html
{
    ---firsColor: #EDE7DB ; 
    ---secondColor: #E8DFD0 ; 
    ---thirdColor: #663322 ;
    ---fourthColor: #422E30; 
    ---fithColor: #CC8356 ; 
    ---square : 300px ; 
    background-color: var(---firsColor);
    margin:0 ; 
    padding:0; 
    overflow-x: hidden;
}


/**Text*/
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    unicode-bidi: isolate;
}
main h3 {
    font-weight: 800;
    color:purple; 
    border-bottom: whitesmoke;
    font-family: "Science Gothic";
    font-size: 4vw;

}

main p{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-family: "Poppins";
    font-weight: 300;
}

main button{
    background-color: purple;
}



/**my link properites  */
a:hover
{
    background-color: purple;
    transform: translateY(-5px);
}
a {
    display: flex;
    flex-direction: row;
    gap:0.5rem ; 
    transition: all 5ms;
}

/** try two 21:00 */






























/**HEADER--------------------------->*/
/**
header
{
    display: grid;
    gap:10px; 
    grid-template-rows: 2fr;
    position:sticky ; 
    top:0 ; 
    background-color: var(---firsColor);
    height: 95.5px;
}*/

#row1
{
    height:20px; 
}

.row{
    /**Borders*/
    /**position:sticky ; 
    top:0 ; 
    margin:0 8vw;*/
    margin:0 8vw;
    padding:5px ; 
    /**elements inisde */
    display:flex ; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /**height and widht*/
}
.row p,h1
{
    margin: 0 ;
    padding:0; 
}
.row img{
    height: 5vw;
}
/**FOOTER--------------------------->*/
/**footer
{
    background-color: var(---fourthColor);
    margin: 0;
    padding: 2vw;
    min-height: 8vw;
}*/
footer .row{
    border-top: 3.5px solid whitesmoke;
}
footer h4 {
    color:var(---firsColor) ; 
    border-bottom: 2px solid whitesmoke;
}

/**Nagivatipn --------------------------->*/
.Navigation-Routes{
   /** min-height: 80vw;*/
   margin:0; 
   padding:0;

}
.Navigation-Bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 25vw;
    align-items: center;
    font-size: 1.5vw;
    
}

/**
.Button
{
    background-color: var(---thirdColor);
    color:white; 
    width: 15vw;
    border-radius: 25px;
    border:none; 
    height: 4vw;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}*/

/*
.Card{
    width: 250px;
    height: 400px;
    background-color: var(---secondColor);
}
*/
.Card p 
{
    font-size: 15px;
    text-align: justify;
    margin: 5px;
}

.Web-Image
{
    width: var(---square);
    height: var(---square);
}

.myG {
    display:grid ; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr );
    gap:10px ; 
}
a:visited
{
    background-color: rgba(124, 58, 237);
}
