

.Clock-Time{
    font-size:5vw ; 

    animation: myAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay:1s ;
    animation-timing-function: ease-in;
   
 
}
.Clock-Time:hover{
    filter:drop-shadow(0 0 10px purple); 
    transition: all 500ms;
    transform:translate(20px); 
    transform:skewX(25deg); 
    animation-play-state: running;
    
}
/**
animarion propery handles all this six properies at once
1. animation-duration: 3s ;
2. animation-timing-function: linear; 
3. animation-delay: 0s ; 
5. animation-iteration-count: infinite;
6. animation-play-state: running ; 
7. @keyframes myAnimation {}



animation: 3s linear 0s infinite running myAnimation ; 

*/

@keyframes myAnimation{
    from{
        text-shadow: 5px 5px 10px purple,5px 5px 10px green;

        /**filter:drop-shadow(0 0 1px purple );*/
    }
    to{
        /**filter:drop-shadow(0 0 1px white );*/
        text-shadow: 0 0 3px blue;

    }

}

