header{
    border-bottom:2px solid white; 
    margin-bottom: 1.5em;
    color: white; 
    justify-items: center;
}

footer{
    min-height: 100px ;
    /**border:1px solid white; */
    margin:0; 
    /**display:flex; 
    flex-direction: column;*/
    justify-content:space-around; 
    background:linear-gradient(to bottom,var(--main-body-color),#010F1A ) ; 
}