/**NABIGATION */
.Navigation-Bar{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:auto;
    background-color:#333;
    border-radius:15px;
    gap:10px;
    font-family:Monserrat;
    color:white;
    margin:10px;
    padding:10px; 

}

.Navigation-Routes{
    /**border:10px solid white; */
    min-height: 100vh;
    margin:1px 20px ; 
}
.Navigation-Routes a{
    color:white; 
}

.Navigation-Routes a:hover{
    color:var(--brown); 
}
.Navigation-Routes a:focus{
    color:var(--orange); 
}

.Navigation-Routes a:active{
    color:white; 
}

/**HEAD AND FOOT */
/**
position propertie
-static: is the default value
-sticky: 
-fixed: 
-relative: 
-absolute: 

*/
.My-Page-Header{
    display:flex; 
    justify-content: space-around;
    font-size: 5px; 
    height:5vw ;
    width: auto; 
    padding:10px ; 
    border-bottom:2px solid var(--brown) ; 
    background-color:var(--main-body-color) ; 
    position:sticky ; 
    top:0 ; 
    
}
.My-Page-Header .Button{
    align-content: center;
    height: 4vw;
}
.My-Page-Header .Button:hover{
    transform: none;
}

.My-Page-Footer{
    background:linear-gradient(to bottom, var(--main-body-color),var(--main-body-color),var(--blue)) ; 
    filter:blur() ; 
    min-height: 10vw;
    margin:0 ;
    padding:10px ;
}



/**BUTTONS   */
.Button p {
    margin:0; 
    padding: 0 ; 
    font-size:100%; 
}

.Button{
    background: #B14203;
    border:0px solid white; 
    border-radius:2vw; 
    color:white; 
    padding:0.7em; 
    min-width: 10vw;
    border-image: linear-gradient(to right, #0066ff, #ff32d6) 1 ;
  
}

.Button:hover {
    cursor: pointer ; 
    transition:all 0.3s ; 
    transform: translate(0px,-10px);
    /**box-shadow:0px 3px 10p x #EC4C30 ; */
    background: linear-gradient(to right, #EC4C30, #e89449);
    
}


/**Eleelments here  -----*/

.Input{
    display:flex; 
    flex-direction: row;
    border:1.5px solid transparent; 
    border-radius: 10px;
    padding:1px; 
    gap:20px; 
    accent-color: purple;
    caret-color:purple; 
    size: 10vw;
}

/**
.Input:hover{
    transition: all 1s;
    transform: translate(25px,0px);
}
*/
.Details{
    margin:0 ; 
    width: min(100px, 100%);
    padding: 1.5em; 
    background-color: black;
    transition: 150ms ease ;
    overflow: hidden;
}

.Toastify{
    border:2px solid white ; 
    width:min(10px); 
    height:min(10px); 

}

.Ducks{
    width: 100px;
    height:100px; 
    border-radius: 999px ;
    border: 4px solid white;
    display:inline-block ; 
}
.Ducks:hover{
    cursor: grab;
}

/**IDS       */
#List{
    max-height: 350px;
    overflow: auto;
    max-width: 150px;
}

#Duck-Image{
    height:100%; 
    color:white;
    filter: invert(); 
   /**animation:10s linear 0s  infinite running cicle ; */
}
#Duck-Image:hover{
    /**transform:translateX(-500px) ; */
    transform: rotate(100deg);
    transition:5s ; 
}
/**
animarion propery handles all this six properies at once
1. animation-duration: 3s ;
2. animation-timing-function: linear; 
3. animation-delay: 0s ; 
5. animation-iteration-count: infinite;
6. animation-play-state: running ; 
7. @keyframes myAnimation {}



animation: 3s linear 0s infinite running myAnimation ; 

*/

@keyframes cicle {
    from{
        transform:translateY(-500px) ;
        width:200px; 
        height:200px;
        filter:drop-shadow(0 10px 15px green) ;

    }
    to{
        transform:translateY(500px) ; 

    }
}

#Hooks-App{
    display:flex ;
    /**justify-content: center;*/
}
#Rows-Hooks{
    overflow-x:hidden; 
    width: 100%; 
}

/**BOXES     */
.content{
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    align-content: center;
    max-height: 100vw;
    overflow-y: auto;
    overflow-x:auto ;
   
}
.Duck-Conteiner{
    overflow-y:auto ; 
    overflow-x: hidden ;
    padding:0px ; 
    margin:0px ; 
    gap:0px ; 
}


.Box{
    display:flex ;
    flex-direction: column;
    margin:10px; 
    border:1.5px solid gray; 
    border-radius: 10px;
    padding:min(2.3em, 8% ); 
    gap:1.2vw; 
    align-items: center;
}

.Box form{
    border:none; 
}


.Sub-Box{
    display:flex; 
    flex-direction: row;
    gap:10px;
    padding: 2.2vw ; 
    margin:10px; 
    align-items: center;
    justify-content: space-around;
    border:1.5px dashed whitesmoke; 
}

.Mini-Box{
    border:2px solid grey ; 
    min-width: 40px;
    min-height: 40px;
    margin: 20px ; 
}


.ComboBox{
    background-color: var(--brown); 
}



