body{
    background-color:black;
    color:white;
    font-family:'Monserrat',sans-serif;
    min-height: 100vh;
    overflow: auto;
    margin:0;
}
main{
    max-width: 760px;
    margin:0 auto;
    padding: 24px 16px 48px ;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
}